{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: white; text-align: center; padding: 5rem;">Team Articles</h1>

<div class="row">
    <div class="col s12">
        {% for article in articles %}
        <div class="col s6">
            <h2 class="header" style="color: white; text-align: center;">{{ article.name|title }}</h2>
            <div class="card z-depth-5">
                <div class="card-image">
                    <img src="{% static 'css/logo.png' %}" width='150' height="500" class="activator">

                    <a href="{% url 'articles_detail' article.id %}"
                        class="btn-floating btn-primary btn-lg btn-block">Read
                        More &rarr;</a>
                </div>
                <div class="card-panel hoverable teal darken-4">
                    <div class="card-content white-text">
                        <p>Date: {{ article.date }}</p>
                        <p class="center-align">{{ article.content|truncatewords:7 }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}