{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog-home.css" rel="stylesheet">
    <title>Team ADD</title>

</head>

<body>
    <div class="arangement">
        {% if user.is_authenticated %}
        <ul class="nav flex-column">
            <li><a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'css/logo.png' %}" alt="logo"
                        width="100px" height="100px"> &nbsp;&nbsp;</a></li>
            <hr class="base-line">
            <li class="base-header"><a class="base-a" href="{% url 'index' %}">My Team</a></li>
            <li class="base-header"><a class="base-a" href="{% url 'github' %}">Github</a></li>
            <li class="base-header"><a class="base-a" href="{% url 'twitter' %}">Twitter</a></li>
            <li class="base-header"><a class="base-a" href="{% url 'articles_index' %}">Team Articles</a></li>
            <li class="base-header"><a class="base-a" href="{% url 'articles_create' %}">Add a Article</a></li>
            <li class="base-header"><a class="base-a" href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% endif %}
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer class="page-footer teal darken-4">
        <div class="right">All Rights Reserved, &copy; 2020 TeamAdd &nbsp;</div>
    </footer>
</body>

</html>