body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

  .arangement {
    display: flex;
    flex: 1 0 auto;
  } 

  .nav {
    background-color: #004d40 ;
    /* background-color: rgb(37, 95, 99); */
    justify-content: space-around;
    text-align: center;
  }

  .base-line {
    background-color: black;
  }

  .base-header {
    border-color: #206a5d;
    border: #206a5d;
    text-decoration: none;
    background-color: #206a5d;
    color: #ebecf1;
    padding: 30px .5px 30px .5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 50%;
    margin: 40px;
  }
  .base-header:hover {
    text-align: center;
    border-color: #206a5d;
    border: #206a5d;
    background-color: #206a5d;
    color: #ebecf1;
    padding: 32px .8px 32px .8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 50%;
    margin: 40px;
    cursor: pointer;
  }
  .base-a {
  text-decoration: none;
  color: #CCCCCC;
  }
  .base-a:hover {
    text-decoration: none;
    color: #CCCCCC;
    }
  
  footer {
    padding-top: 0;
    text-align: right;
  }