body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-image: url("https://i.imgur.com/ZVpay2g.jpg");
  background-color: black;
  background-size: cover;
}
.home {
  background: rgb(32,106,93);
  background: radial-gradient(circle, rgba(32,106,93,1) 0%, rgba(0,4,3,1) 100%);
  height: 50vh;
  width: 85vw;
  overflow: hidden;
  color: white;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4rem;
}
.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-icons {
  display: flex;
  align-self: unset
}
.home-logo {
  display: flex;
  align-self: center;
}
.home-btn {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.home-title {
  font-size: 4rem;
}
.home-btn a{
  color: white;
}
.form-title {
  color: white;
} 
.team-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-title {
  text-align: center;
  color: white;
}
.collection-items, .collection{
  background-color: transparent;
  color: black;
}
.collection-items a{
  color: black;
}

.profile-index {
  background-color: transparent;

}

.article-index {
  display: flex;
}

.collection a {
  color: white;
}

.github-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 7rem;
}
.login-combo {
  display: flex;
  flex-direction: column;
}

.login-h1 {
  display: flex;
  align-self: center;
  color: white;
}

.signup-h1 {
  text-align: center;
  color: white;
}


.registration {
  padding-top: 10rem;
}
.card {
  padding: 10px;
}
  .arangement {
    display: flex;
    flex: 1 0 auto;
  } 

  .nav {
    background-color: #004d40 ;
    /* background-color: rgb(37, 95, 99); */
    justify-content: space-evenly;
    text-align: center;
  }

  .base-line {
    background-color: black;
  }

  .base-header {
    border-color: #206a5d;
    border: #206a5d;
    text-decoration: none;
    background-color: #206a5d;
    color: #ebecf1;
    padding: 30px .5px 30px .5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 50%;
    margin: 40px;
  }
  .base-header:hover {
    text-align: center;
    border-color: #206a5d;
    border: #206a5d;
    background-color: #206a5d;
    color: #ebecf1;
    padding: 32px .8px 32px .8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 50%;
    margin: 40px;
    cursor: pointer;
  }
  .base-a {
  text-decoration: none;
  color: #CCCCCC;
  }
  .base-a:hover {
    text-decoration: none;
    color: #CCCCCC;
    }

.z-depth-5 {
  flex-wrap: wrap-reverse;
}
  
  footer {
    padding-top: 0;
    text-align: right;
  }